@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";

header{
  @include outer-container(100%);
  padding: 10px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;

  img{
    border-radius: 7%;
  }

  span{
    color: #333333;

    &#giticon{
      @include span-columns(.4);
      @include shift(1.25);
      font-size: 30px;
    }
  }

  input{
    padding: 5px;
    @include span-columns(3.5);
    border-radius: 5%;
    border: 1px solid #CCCCCC;
    font-size: 13px;

    &:focus{
      border-color: #51A7E8;
      outline: none;
    }
  }

  a{
    @include span-columns(.5);
    padding-top: 5px;
    font-size: 13px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    text-align: left;

    &:first-of-type{
      @include omega(n);
      @include span-columns(1.2);
      padding-right: 13px;
    }

    &:nth-of-type(2){
      @include omega(n);
      @include span-columns(.8);
    }

    &:nth-of-type(3){
      @include span-columns(2.9);
    }

    &:nth-of-type(4){
      text-align: left;
      @include span-columns(.5);
      @include omega(n);
    }

    &:nth-of-type(5){
      text-align: left;
      padding-right: 10px;
      @include span-columns(.7);
      @include omega(n);

      span{
        padding-right: 5px;
      }

      span:last-of-type{
        font-size: 12px;
      }
    }

    &:nth-of-type(6){
      @include span-columns(1);

      img{
        @include span-columns(4);
      }
    }
  }

  img{
    @include span-columns(12);
    @include omega(n);
  }

  #last{
    padding-left: 5px;
    padding-top: 3px;
    font-size: 12px;
  }
}

main{
  @include outer-container;
  @include shift(1.25);
  padding-top: 20px;

  &:focus{
    outline: none;
  }

  nav{
    @include span-columns(8.75);
    @include shift(.25);

    .top{

      div{
        @include span-columns(2.2);
        font-size: 14px;
        padding: 12px;
        border-bottom: 1px solid #D5D5D5;
        color: #66666A;
        @include omega(n);

        &:last-of-type{
          @include span-columns(5.2);
        }

        &:nth-of-type(2){
          border: 1px solid #D5D5D5;
          border-bottom: none;
          border-radius: 5%;
          color: #000000;
        }
      }

      .buttons{
        @include span-columns(1.8);
        @include omega(n);
        border-bottom: 1px solid #D5D5D5;
        padding-bottom: 12px;
        border-radius: 0%;
        padding-top: 4px;

        button.edit{
          @include span-columns(4.3);
          @include shift(8.2);
          @include omega(n);
          background-color:#F5F5F5;
          color: #333333;
          font-size: 13px;
          border: 1px solid #D5D5D5;
          border-radius: 10%;
          font-weight: bold;
          padding: 3px 0px;
          line-height: 10px;

          &:focus{
            outline: none;
          }
        }
      }
    }

    .bottom{
      margin-top: 0px;
      padding-top: 20px;
      @include span-columns(11);

      input{

        &:first-of-type{
          @include span-columns(4);
          @include omega(1);
          border-radius: 5%;
          border: 1px solid #D5D5D5;
          padding: 7px;
          font-size: 14px;

          &:focus{
            border-color: #51A7E8;
            outline: none;
          }
        }

        &:last-of-type{
          @include span-columns(1.5);
          margin-left: 5px;
          padding: 8px;
          background-color:#F5F5F5;
          color: #333333;
          font-size: 13px;
          border: 1px solid #D5D5D5;
          border-radius: 7%;
          font-weight: bold;

          &:focus{
            outline: none;
          }
        }
      }

      section.links{
          padding-top: 20px;
          @include span-columns(5);
        a{
          &:first-of-type{
            padding-left: 10px;
          }

          padding-right:5px;
          font-size:14px;
          color: #4078C0;
          text-decoration: none;
        }
      }

      button.new-repo{
        @include span-columns(1.65);
        @include omega(1);
        padding: 10px;
        background-color: #72C355;
        color: #FFF;
        border: 1px solid #5CA941;
        border-radius: 5%;
        font-weight: bold;
        font-size: 12px;

        &:focus{
          outline: none;
        }
      }
    }

  }

  section.profile{
    @include span-columns(3);
    @include omega(1);
    font-size: 12px;

    img{
      @include span-columns(11);
      border-radius: 3%;
    }

    h1{
      @include span-columns(12);
      @include omega(1);
      margin-bottom: 0px;
    }

    h2{
      @include span-columns(12);
      font-size: 18px;
      margin-top: 0px;
      color: #666666;
      font-weight: lighter;
    }

    h6{
      @include span-columns(12);
      font-size: 14px;
      padding: 5px;
      margin: 0px;

      &:first-of-type{
        border-top: 1px solid #EEEEEE;
      }

      &:last-of-type{
        border-bottom: 1px solid #EEEEEE;
      }
    }

    a{
      @include span-columns(4);
      text-decoration: none;
      color: #767676;
      padding: 20px 0px;
      text-align: center;

      &:hover{
        color: blue;
      }

      strong{
        @include span-columns(8);
        @include shift(1.8);
        font-size: 24px;
        color: #4078C0;
      }

      &:last-of-type{
        @include omega(n);
      }
    }

    h4{
      @include span-columns(12);
      margin: 0px;
      padding-top: 22px;
      border-top: 1px solid #EEEEEE;
      font-size: 16px;
    }
  }

  ul{
    @include span-columns(8);
    list-style-type: none;
    padding: 0px;
    @include shift(.25);
    font-size: 14px;
    color: #88888F;

    li.repo-name{
      @include span-columns(12);
      padding: 40px 0px;
      border-top: 1px solid #DDDDDD;

      &:last-of-type{
        border-bottom: 1px solid #DDDDDD;
      }

      a{
        @include span-columns(9);
        @include omega(1);
        text-decoration: none;
        color: #4078C0;
        font-size: 22px;
        font-weight: bold;
      }

      section.repo-stats{
        @include span-columns(3);
        font-size: 13px;
        font-weight: bold;
        color: #888888;
        text-align: right;

          span{
            padding-left: 10px;
            padding-right: 5px;
          }
        }
    }


  }
}
